@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600;700&family=Lato:ital@0;1&display=swap');

:root {
    --body: rgb(33, 37, 41);
    --gray-1: rgb(66, 69, 72);
    --gray-2: rgb(83, 86, 91);
    --gray-3: rgb(107, 109, 114);
    --gray-4: rgb(128, 130, 134);
    --gray-5: rgb(151, 152, 157);
    --gray-6: rgb(169, 172, 180);
    --gray-7: rgb(190, 192, 197);
    --gray-8: rgb(240, 240, 240);

    --basic-error: rgb(244, 67, 54);
    --basic-info: rgb(33, 150, 243);
    --basic-success: rgb(76, 175, 80);
    --basic-warning: rgb(255, 152, 0);

    --basic-error-dark: rgb(191, 43, 43);
    --basic-info-dark: rgb(21, 100, 178);
    --basic-success-dark: rgb(51, 130, 55);
    --basic-warning-dark: rgb(203, 102, 0);

    --basic-error-light: rgb(255, 125, 125);
    --basic-info-light: rgb(129, 186, 243);
    --basic-success-light: rgb(123, 244, 129);
    --basic-warning-light: rgb(253, 182, 95);

    --basic-error-fade: rgb(244, 67, 54, 0.25);
    --basic-info-fade: rgb(33, 150, 243, 0.25);
    --basic-success-fade: rgb(76, 175, 80, 0.25);
    --basic-warning-fade: rgb(255, 152, 0, 0.25);

    --primary-strawberry: rgb(231, 44, 112);
    --primary-strawberry-fade: rgba(231, 44, 113, 0.25);
    --primary-strawberry-dark: rgb(206, 35, 97);
    --secondary-strawberry: rgb(255, 76, 142);
    --pastel-strawberry: rgb(255, 152, 190);
    --pastel-strawberry: rgb(236, 132, 170);

    --primary-heaven: rgb(130, 209, 228);
    --primary-heaven-dark: rgb(107, 183, 202);
    --primary-heaven-fade: rgba(130, 209, 228, 0.25);
    --secondary-heaven: rgb(96, 209, 214);
    --pastel-heaven: rgb(202, 227, 232);
    --pastel-heaven-dark: rgb(175, 203, 210);

    --primary-lemon: rgb(247, 242, 73);
    --primary-lemon-dark: rgb(208, 203, 57);
    --primary-lemon-fade: rgba(247, 242, 73, 0.25);
    --secondary-lemon: rgb(247, 226, 0);
    --pastel-lemon: rgb(248, 245, 148);

    --font-size-regular: 18px;
    --font-size-large-1: 24px;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: var(--font-size-regular);
    color: var(--body);
    background-color: var(--gray-8);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Dosis', sans-serif;
}

.button {
    font-family: 'Dosis', sans-serif;
    font-size: var(--font-size-regular);
    text-transform: uppercase;

    background-color: var(--primary-strawberry);
    color: white;

    min-width: 40px;
    padding: .5em;
    border: none;
    border-radius: 8px;

    cursor: pointer;
    transition: all .2s ease-in-out;
}

.button:hover {
    background-color: var(--primary-strawberry-dark);
}

.button:focus {
    outline: .15em solid var(--primary-strawberry-fade);
}

.button--lemon {
    background-color: var(--primary-lemon);
    color: var(--body);
}

.button--lemon:hover {
    background-color: var(--primary-lemon-dark);
}

.button--lemon:focus {
    outline: .15em solid var(--primary-lemon-fade);
}

.button--heaven {
    background-color: var(--primary-heaven);
}

.button--heaven:hover {
    background-color: var(--primary-heaven-dark);
}

.button--heaven:focus {
    outline: .15em solid var(--primary-heaven-fade);
}

.button--danger {
    background-color: var(--basic-error);
}

.button--danger:hover {
    background-color: var(--basic-error-dark);
}

.button--danger:focus {
    outline: .15em solid var(--basic-error-fade);
}

.button--large {
    padding: 1em;
    font-size: var(--font-size-large-1);
}

.input {
    /* Style Input */
    font-family: 'Lato', sans-serif;
    font-size: var(--font-size-regular);
    border: 2px solid var(--gray-7);
    border-radius: 8px;
    padding: .5em;
    margin-bottom: .5em;
}

.input:focus {
    /* Custom Outline */
    outline: var(--primary-heaven) solid 2px;
}

.label {
    /* Style Label */
    font-family: 'Dosis', sans-serif;
    font-size: var(--font-size-regular);
    margin-bottom: .5em;
}

.form-group:last-of-type {
    margin-bottom: .75em;
}

.error-message {
    /* Style Error Message */
    color: var(--basic-error);
    margin: 0px;
}

table {
    width: 100%;
    border-collapse: collapse;
    overflow-x: scroll;
    border-collapse: separate;
    border-spacing: 0;
}

table,
th,
td {
    border: 1px solid var(--gray-7);
    background-color: var(--gray-8);
}

td,
th {
    padding: 0.5em;
    min-width: 100px;
    text-align: left;
}

th {
    background-color: var(--gray-7);
    border-color: var(--gray-6);
}

th.sticky,
td.sticky {
    position: sticky;
    top: 0;
    z-index: 1;
}

th.right,
td.right {
    right: 0px;
}

th.right::before,
td.right::before {
    content: ' ';
    position: absolute;
    z-index: 1;
    top: 0px;
    left: -8px;
    width: 8px;
    height: 100%;
    background: linear-gradient(to right, rgba(0,0,0,0), rgba(71, 78, 79, 0.25));
}

th.left,
td.left {
    left: 0px;
}

th.left::after,
td.left::after {
    content: ' ';
    position: absolute;
    z-index: 1;
    top: 0px;
    right: -8px;
    width: 8px;
    height: 100%;
    background: linear-gradient(to left, rgba(0,0,0,0), rgba(71, 78, 79, 0.25));
}