@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600;700&family=Lato:ital@0;1&display=swap');
@import url('./style_button.css');
@import url('./style_input.css');

:root {
    --body: rgb(33, 37, 41);
    --background: rgb(248, 249, 250);

    --gray-1: rgb(66, 69, 72);
    --gray-2: rgb(83, 86, 91);
    --gray-3: rgb(107, 109, 114);
    --gray-4: rgb(128, 130, 134);
    --gray-5: rgb(151, 152, 157);
    --gray-6: rgb(169, 172, 180);
    --gray-7: rgb(190, 192, 197);
    --gray-8: rgb(212, 212, 212);

    --basic-error: rgb(244, 67, 54);
    --basic-info: rgb(33, 150, 243);
    --basic-success: rgb(76, 175, 80);
    --basic-warning: rgb(255, 152, 0);

    --basic-error-dark: rgb(191, 43, 43);
    --basic-info-dark: rgb(21, 100, 178);
    --basic-success-dark: rgb(51, 130, 55);
    --basic-warning-dark: rgb(203, 102, 0);

    --basic-error-light: rgb(255, 125, 125);
    --basic-info-light: rgb(129, 186, 243);
    --basic-success-light: rgb(123, 244, 129);
    --basic-warning-light: rgb(253, 182, 95);

    --basic-error-fade: rgb(244, 67, 54, 0.25);
    --basic-info-fade: rgb(33, 150, 243, 0.25);
    --basic-success-fade: rgb(76, 175, 80, 0.25);
    --basic-warning-fade: rgb(255, 152, 0, 0.25);

    --primary-strawberry: rgb(231, 44, 112);
    --primary-strawberry-fade: rgba(231, 44, 113, 0.25);
    --primary-strawberry-dark: rgb(206, 35, 97);
    --secondary-strawberry: rgb(255, 76, 142);
    --pastel-strawberry: rgb(255, 152, 190);
    --pastel-strawberry: rgb(236, 132, 170);

    --primary-heaven: rgb(130, 209, 228);
    --primary-heaven-dark: rgb(107, 183, 202);
    --primary-heaven-fade: rgba(130, 209, 228, 0.25);
    --secondary-heaven: rgb(96, 209, 214);
    --pastel-heaven: rgb(202, 227, 232);
    --pastel-heaven-dark: rgb(175, 203, 210);

    --primary-lemon: rgb(247, 242, 73);
    --primary-lemon-dark: rgb(208, 203, 57);
    --primary-lemon-fade: rgba(247, 242, 73, 0.25);
    --secondary-lemon: rgb(247, 226, 0);
    --pastel-lemon: rgb(248, 245, 148);

    --font-size-regular: 18px;
    --font-size-large-1: 24px;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: var(--font-size-regular);
    color: var(--body);
    background-color: var(--background);
    background-image: url(/background.svg);
    background-size: cover;
    margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Dosis', sans-serif;
}